.option-filter {
  display: flex;
  font-size: 9px;
  font-weight: 300;
  justify-content: space-evenly;
  margin: 0 auto 16px;
  max-width: 330px;
  text-align: center;

}

.option-filter > button {
  align-items: center;
  color: #797d86;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.option-filter span {
  width: 46px;
}

.option-filter .active > * {
  filter: brightness(1.15);
  transition: filter 0.2s ease-out;
}
