.content-filter-component {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.div-icon {
  text-align: center;
}

.div-icon p {
  margin-top: 12px;
}

.icon-fast-food {
  border: 3px solid rgb(252, 196, 54);
  border-radius: 50%;
  padding: 5px;
  width: 60px;
}
