.content-card-info {
  align-items: center;
  border: 0.5px solid rgb(177, 177, 177);
  border-radius: 5px;
  display: flex;
  height: 135px;
  margin: 0 auto;
  margin-bottom: 16px;
  overflow: hidden;
  width: 320px;
}

.content-card-info > * {
  flex: 1 0 50%;
}

.img-food-favorite {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.info-food {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 32px 22px 18px;
}

.info-food-title {
  display: flex;
  flex-direction: column;
}

.info-food-title h3 {
  color: #1a1b1c;
  font-size: 12px;
  font-weight: 700;
  margin: 0;
}

.info-food-title span {
  color: #797d86;
  font-size: 9px;
  font-weight: 300;
}

.options-food {
  display: flex;
  gap: 16px;
}
